:root {
  --primary: #0049D7;
  --secondary: #D76700;
  --black: #000;
  --grey: #F2F2F2;
  --white: #FFF;
  --head: #EEF4FF;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: var(--black);
  box-sizing: border-box;
  background-color: var(--grey);
}

html.dark-mode,
.dark-mode body {
  color: #FFFFFF;
  background-color: #121212;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* main class styling */
.text-primary {
  color: var(--primary);
}

.bg-head {
  background-color: var(--head);
}

.bg-white {
  background-color: var(--white);
}

/* widths */
.w-fit-content {
  width: fit-content;
}

/* heights */
.h-fit-content {
  height: fit-content;
}

.w-100 {
  width: 100%;
}

.h-100 {
  min-height: 100vh;
}

.h-per-100 {
  height: 100%;
}

/* flex */
.box-sizing {
  box-sizing: border-box;
}

.d-flex {
  display: flex;
}

.d-flex-row {
  flex-direction: row;
}

.d-flex-column {
  flex-direction: column;
}

/* display */
.d-none {
  display: none;
}

.d-flex-column-reverse {
  flex-direction: column-reverse;
}

.d-block {
  display: block;
}

.d-inline-flex {
  display: inline-flex;
}

.d-content {
  display: contents;
}

.d-align-center {
  align-items: center;
}

.d-align-start {
  align-items: flex-start;
}

.d-align-end {
  align-items: flex-end;
}

.d {
  align-items: baseline;
}

.d-justify-center {
  justify-content: center;
}

.d-justify-start {
  justify-content: flex-start;
}

.d-justify-end {
  justify-content: flex-end;
}

.d-justify-space-between {
  justify-content: space-between;
}

.d-justify-space-around {
  justify-content: space-around;
}

.self-center {
  align-self: center;
}

.self-end {
  align-self: flex-end;
}

.self-baseline {
  align-self: baseline;
}

/* positions */
.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.p-fixed {
  position: fixed;
}

.p-sticky {
  position: sticky;
}

/* overflows */
.o-hidden {
  overflow: hidden;
}

.ox-hidden {
  overflow-x: hidden;
}

.oy-hidden {
  overflow-y: hidden;
}

.o-scroll {
  overflow: scroll;
}

.ox-scroll {
  overflow-x: scroll;
}

.oy-scroll {
  overflow-y: scroll;
}

/* gaps */
.gap-1 {
  gap: clamp(0.1875rem, 0.1458rem + 0.0868vw, 0.25rem);
}

.gap-2 {
  gap: clamp(0.375rem, 0.2917rem + 0.1736vw, 0.5rem);
}

.gap-3 {
  gap: clamp(0.625rem, 0.5417rem + 0.1736vw, 0.75rem);
}

.gap-4 {
  gap: clamp(0.875rem, 0.7917rem + 0.1736vw, 1rem);
}

.gap-5 {
  gap: clamp(1.125rem, 1.0417rem + 0.1736vw, 1.25rem);
}

.gap-6 {
  gap: 24px;
}

.gap-7 {
  gap: 28px;
}

.gap-8 {
  gap: clamp(1.75rem, 1.5833rem + 0.3472vw, 2rem);
}

.gap-8 {
  gap: clamp(1.75rem, 1.5833rem + 0.3472vw, 2rem);
}

.gap-10 {
  gap: 40px;
}

.gap-11 {
  gap: 44px;
}

.gap-12 {
  gap: clamp(2.875rem, 2.7917rem + 0.1736vw, 3rem);
}

.gap-13 {
  gap: clamp(3rem, 2.8333rem + 0.3472vw, 3.25rem);
}

.outline-none {
  outline: none;
}

/* border stylings */
.border-none {
  border: none;
}

.border {
  border: 1px solid #DEDED2;
}

.border-top {
  border-top: 1px solid #DEDED2;
}

.border-bottom {
  border-bottom: 1px solid #DEDED2;
}

.rounded-4 {
  border-radius: 4px;
}

.rounded-8 {
  border-radius: 8px;
}

.rounded-10 {
  border-radius: 10px;
}

.rounded-12 {
  border-radius: 12px;
}

.rounded-16 {
  border-radius: 16px;
}

.rounded-20 {
  border-radius: 20px;
}

.rounded-28 {
  border-radius: 28px;
}

.rounded-100 {
  border-radius: 100px;
}

.border-card {
  border-radius: 8px 8px 0 0;
  border: 1px solid #DBDBDB;
  border-bottom: none;
}

/* Text colors */
/* Text Colors ends */

/* background */

/* background ends*/

/* cursor */
.cursor-pointer {
  cursor: pointer;
}

/* buttons */

/* buttons ends */
.op-01 {
  opacity: 0.1;
}

.op-02 {
  opacity: 0.2;
}

.op-03 {
  opacity: 0.3;
}

.op-04 {
  opacity: 0.4;
}

.op-05 {
  opacity: 0.5;
}

.op-06 {
  opacity: 0.6;
}

.op-07 {
  opacity: 0.7;
}

.op-08 {
  opacity: 0.8;
}

.op-09 {
  opacity: 0.9;
}

.op-1 {
  opacity: 1;
}

.z-index-2 {
  z-index: 2;
}

.z-index-3 {
  z-index: 3;
}